.main-img img{
    width: auto;
    height: 200px;

 }

.DM {
  margin-bottom: 25px;
}

.received {
  position: relative;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  margin-right: 8%;
  float: left;
  margin-bottom: 20px;
}


@media screen and (min-width: 900px) {
  .received {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  margin-right: 40%;
  float: left;
  margin-bottom: 20px;
}
}

.received:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  left: -20px;
}
.received:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #eee;
  top: 15px;
  left: -19px;
}

.sent {
  position: relative;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
  margin-left: 8%;
  float: right;
  margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
  .sent {
  position: relative;
  margin-right: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
  margin-left: 40%;
  float: right;
  margin-bottom: 20px;
}
}

.sent:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}
.sent:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #9cd6e7;
  top: 15px;
  right: -19px;
}

.DM:after,.DM:before {
  clear: both;
  content: "";
  display: block;
}