.edit{
  padding: 20px;
}


.text{
    text-align: center;
}

.title{
    font-family: "century gothic";
    color: #000044;
    font-size: 3vmin;
    font-weight: bold;
}

.main-img img{
    width: auto;
    height: 200px;

 }

