.edit{
  padding: 20px;
}


.text{
    text-align: center;
}

.title{
    font-family: "century gothic";
    color: #000044;
    font-size: 3vmin;
    font-weight: bold;
}

.main-img img{
    width: auto;
    height: 200px;

 }

h1{
        position: relative;
        padding: .3em;
}
h1:after {
        content: "";
        display: block;
        height: 8px;
        background: linear-gradient(to right,#003366, transparent);
}