.carousel{
  height: 600px;
  margin:auto;
  max-width: 900px;
  text-align: center;
  background-color: white;
}

.carousel .item {
  height: 100%;
}

.carousel img {
  position: absolute;
    max-width: 70%; 
    height:auto;
    margin: auto;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:260px;
  }
}

@media (min-width: 480px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:350px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}

@media (min-width: 980px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:500px;
  }
}
.carousel-caption{
  font-size:15px;
  background: rgba(0,0,0,0.5);
}

.carousel-control.right{
    opacity: 0.1;
}

.carousel-control.left{
    opacity: 0.1;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.btn{
  text-align: center;
}