
p{
  text-align: center;
  font-size: 100px;
  
}

.name{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "century gothic";
}

.col-md-2{
  padding-left: 30px;
}

.col-xs-4{
  padding: 0px;
}

.name:after {
        content: "";
        display: block;
        height: 8px;
        background: linear-gradient(to right,#003366, transparent);
}

.name:first-letter {
    font-size: 2em;
    color:#003366;
}
  

#botan{
  margin-top: 10px;
}

h2{
  text-align: center;
}

h1{
  text-align:center;
}

@media (min-width: 480px) {
 .h2 {
    font-size:20px;
  }
}


.contents{
   color: #FF3366;
}

/* :::::: action mechanism :::::: */

.slideContents section h2 {
-webkit-perspective: 500px;
perspective: 500px;
-webkit-transform-origin: 50% 100%;
transform-origin: 50% 100%;
-webkit-animation: jump .5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
animation: jump .5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
}
.slideContents section h2 span {
display: block;
-webkit-animation: rotate 2s infinite;
animation: rotate 2s infinite;
}
.slideContents section p {
-webkit-animation: shake .3s infinite alternate;
animation: shake .3s infinite alternate;
}

@-webkit-keyframes jump {
0% { -webkit-transform: translateY(0); }
100% { -webkit-transform: translateY(-10px); }
}


@keyframes jump {
0% { transform: translateY(0); }
100% { transform: translateY(-10px); }
}
