.btn-info{
    margin-top: 20px;
     text-align: center;
     color: white;
     font-size: 30px;
     padding: 10px 20px;
     border-radius: 25px;
 }
 
  h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 40px;
  color: black;
  text-align: center;
  
}

h1:after{
    content:"";
    display: block;
    height: 8px;
    background: linear-gradient(to right, #003366,transparent); 
}
 
 .footer > p  {

    color: #808080; /* 文字の色　#336666 */

    font-size: 20px; /* 文字の大きさ　10px */

    text-align: center; /* 文字の中央揃え */
    
    background-color:#F2F2F2;
    
    padding:0;
    
    margin-top:70px;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    
}

footera {

    color: pink; /* 文字の色　#336666 */

    font-size: 50px; /* 文字の大きさ　10px */
    
    background-color: grey;

}

