nav.navbar-default{
    background-color:#DDDDDD;
}

.number{
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
}


.navbar-default .navbar-nav>li>a.logout:link,
.navbar-default .navbar-nav>li>a.logout:active,
.navbar-default .navbar-nav>li>a.logout:hover,
.navbar-default .navbar-nav>li>a.logout:visited  {
    color: #FF0066;
    font-weight: bold;
}