.btn-success {
 
    color:white;
    outline-color: white;
    /*font-family: "century gothic";*/
    padding: 2px 10px;
	border-radius: 25px;
	font-weight: bold;
	background-color:#33CC99;
}

.btn-success:hover{
    background:#CBFFD3;
}

.btn-danger{
    background-color:#FF6666;
    color: white;
    /*font-family: "century gothic";*/
    padding: 2px 10px;
    border-radius: 25px;
    font-weight: bold;
}

.btn-danger:hover{
    background:#FF97C2;
}

.media-body{
    padding: 10px;
}

.btn{
     float: right;
}

.main-img{
 max-height:50px;
 max-width:50px;
}