.btn-info {
    background:#000099;
    color:white;
    outline-color: white;
    font-family: "bookman old";
    padding: 2px 10px;
	border-radius: 25px;
	font-weight: bold;
}

.btn-info:hover{
    background:linear-gradient(-180deg, #86fde8, #acb6e5);
}

.btn-danger{
 background:#FF367F;
 color: white;
 font-family: "bookman old";
 padding: 2px 10px;
 border-radius: 25px;
 font-weight: bold;
}

.btn-danger:hover{
    background:linear-gradient(-180deg, #FFFF99 ,#FFABCE);
}

.row div.panel{
padding:0px;  
}